@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .prose h1,
  .prose h2,
  .prose h3,
  .prose h4,
  .prose h5,
  .prose h6 {
    @apply mb-1 mt-4 font-bold leading-tight;
    font-family: var(--font-family-serif);
  }

  .prose h1 {
    @apply mb-1 mt-3 text-4xl;
  }

  .prose h2 {
    @apply mt-8 text-3xl;
  }

  .prose h3 {
    font-size: 1.5em;
  }

  .prose h4 {
    font-size: 1.4em;
  }

  .prose h5 {
    font-size: 1.3em;
  }

  .prose h6 {
    font-size: 1.2em;
  }

  .prose p,
  .prose ul,
  .prose ol {
    font-size: 1.3rem;
    line-height: 1.75em;
    margin: 1.2em 0;
  }

  .prose ol,
  .prose ul {
    padding-left: 2rem;
    -webkit-padding-start: 5%;
    -webkit-padding-end: 5%;
  }

  .prose li {
    list-style: disc;
    margin: 1rem 0;
  }

  .prose li p {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  .prose a {
    color: inherit;
    transition: color linear 0.15s;
  }

  .prose a:hover {
    color: var(--primary-color);
  }

  .prose p a {
    @apply text-blue-500 hover:text-blue-800 dark:hover:text-blue-400;
    text-decoration: none;
  }

  .prose code {
    @apply rounded-sm bg-gray-200 px-2 py-2 text-gray-900 dark:bg-gray-700 dark:text-gray-300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .prose pre {
    border-radius: 8px !important;
    margin: 1.2em 0 !important;
    padding: 1.2em;
  }

  .prose pre code {
    padding: 0;
    background: none;
  }

  .prose blockquote {
    border-left: 4px solid #ccc;
    font-size: 1.4em;
    font-style: italic;
    margin: 2rem 0;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .prose blockquote p {
    padding-bottom: 6px;
  }

  .prose blockquote footer {
    font-size: 1.1rem;
    text-align: right;
  }

  .prose figure {
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin: 0 0 3em 0;
  }

  .prose table {
    border-collapse: collapse;
    font-family: var(--font-family-sans);
    font-size: 1.125em;
    margin: 2em 0;
  }

  .prose th {
    border-bottom: 2px solid #ccc;
    padding: 0.4em 0.8em;
  }

  .prose td {
    padding: 0.4em 0.8em;
  }

  .prose img {
    @apply mx-auto mb-4 w-full rounded-md bg-gray-300 p-1 dark:bg-gray-500 sm:w-8/12 lg:w-5/12;
  }
}
