---
import BaseLayout from "src/layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="minor-text-color flex">
    <span class="w-max text-8xl">&#x201C</span>
    <div class="major-text-color flex flex-col gap-4 px-4 py-10 text-2xl">
      <p>Hello there. You can call me <i>Kan</i>.</p>
      <p>
        I'm simply a passionate Software Engineer. I love seeking new knowledge.
        This blog is for me to reinforce my learning and researching by writing
        them down.
      </p>
      <p>
        Although I'm not that great of a Software Engineer and English is my
        second language, so I can be wrong here and there. It's highly
        encouraged to be skeptical about things written on this blog, or
        anything on the internet nowaday in general.
      </p>
    </div>
    <span class="w-max self-end text-8xl">&#x201E</span>
  </div>
</BaseLayout>
