---
import ThemeSelector from "@components/ThemeSelector.astro";
import HeaderLink from "./NavItem.astro";
import { t } from "@utils/constants";
---

<header class="m-0 px-4 py-0">
  <nav class="flex flex-wrap items-center">
    <div class="flex flex-1 justify-start">
      <a href="/"
        ><h2 class="major-text-color m-0 text-3xl font-semibold no-underline">
          {t("site.name")}
        </h2>
      </a>
    </div>
    <div class="flex flex-1 justify-center">
      <HeaderLink href="/">{t("home")}</HeaderLink>
      <HeaderLink href="/about">{t("about")}</HeaderLink>
    </div>
    <div class="flex flex-1 justify-end gap-2">
      <ThemeSelector />
    </div>
    <div class="flex w-6/12 basis-full justify-center">
      <div class="major-border-color w-6/12 border-b-2"></div>
    </div>
  </nav>
</header>
